*{
    box-sizing: border-box;
  }
  body{
      font-family: 'Poppins', sans-serif;
      margin: 0%;
  }
  /* Banner Section Start*/
  
  .banner{
      display: flex;
      justify-content: center;
      margin-top: 50px;
  }
  .banner-container{
      display: flex;
      background-color: #161616;
      width: 1100px;
      height: 500px;
      border-radius: 20px;
      color: white;
      align-items: center;
      padding-left: 106px;
  }
  .banner-description h1{
    display: block;
    font-size: 2.5em;
    font-weight: bold;
  }
  .banner-description p{
      display: visible;
      font-size: 12px;
      width: 100%;
      margin-bottom: 30px;
  }
/* ellipse */
.ellepsis p {
  width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 30px;
  display: none;
  color: white
}
.button{
  text-decoration: none;
  background-color:brown;
  color: white;
  padding: 10px 40px;
  border-radius: 5px;
  transition-duration: 0.4s;
}
.button:hover{
  background-color: #4CAF50;
  color: white;
}
.banner-image{
  width: 130%; 
}
.banner-image img{
  width: 100%;
  padding-top: 110px;
  transition: 0.3s;
}
.banner-image img:hover{
  transform:scale(1.1);
  transition: 0.3s;
}
/* Banner End  */

/* Artical Section Start */
.artical-container{
  margin-top: 100px;
  display: flex;
  overflow-x: hidden;
  justify-content: center;
  padding: 10px 130px;
}
.artical-button {
  width: 500px;
  height: 215px;
  background: black;
  text-align: center;
  margin-right: 30px;
  border-radius: 8px;
  padding-top: 10px;
}
.artical-button a {
  text-decoration: none;
  display: block;
  background: white;
  margin: 20px 30px;
  padding: 8px 12px;
  border-radius: 10px;
  color: black;
  font-size: 15px;
  transition: 0.3s;
}
.artical-button a:hover{
  background-color: brown;
  color: white;
  transition: 0.3s;
}
/*Select Button */
.artical-button a.active-button {
  background: brown;
  color: white;
}
/* Blog section */
.blog-section{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.blog-content{
  box-shadow: 0px 1px 10px gray;
  border-radius: 10px;
}
.blog-content img{
  width: 100%;
  padding: 10px;
  transition: 0.2s;
}
.blog-section-content img:hover{
  width: 100%;
  padding: 0px;
}
.blog-write-content{
  padding: 10px;
}
.blog-content .blog-button{
  padding: 3px 20px;
  border-radius: 5px;
  border: 1px solid gray;
}
.blog-footer-item{
  font-size: 15px;
  padding-bottom: 5px;
}
.blog-footer-item .fa-clock{
  padding-right: 5px;
}
.blog-footer-item .fa-comment-alt{
  padding-left: 20px;
  padding-right: 5px;
}
/* Blog Section End */
